fastapi
uvicorn
sqlalchemy
pymysql
cryptography
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
apscheduler
httpx
pytest
pytest-asyncio
python-dotenv
email-validator
alembic
locust
